@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'BagindaScript';
    src: url('BagindaScript.otf');
    font-weight: bold;
    font-style: normal;
}

*, :root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: whitesmoke;
}

header {
    display: block;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: white;
    padding: 1px;
}

.titlepage {
    height: 80px;
    font-family:'BagindaScript';
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    margin: 0px;
    text-decoration: none;
    color: black;
}

nav {
    list-style: none;
    position: sticky;
    top: 78px;
    text-align: center;
    background-color: white;
    padding: 0px 0px 10px 0px;
}

.menu__item {
    display: inline-block;
    position: relative;
}

nav ul {
    margin: 0px;
    padding: 0%;
}

nav li a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    font-weight: 600;
    color:gray;
    text-decoration: none;
}

.section {
    width: auto;
    height: 600px;
    background-color: aquamarine;
}

.section_apresentacao {
    width: auto;
    height: 600px;
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}

#img_apresentacao {
    display: flex;
    width: auto;
    height: 400px;
    margin: 50px;
}

#text_apresentacao {
    width: auto;
    height: auto;
    margin: 50px;
}

.section_frase {
    display: flex;
    width: auto;
    height: 600px;
    background-image: url(./src/plant_index.jpg);
    background-size:cover;
    background-position: center;
    align-items: center;
    justify-content: end;
}

#text_frase{
    width: 50%;
    text-align: right;
    padding: 100px;
}

.section_projeto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
    width: auto;
    height: 600px;
    background-color: whitesmoke;
    align-items: center;
}

.projeto_item {
    height: 400px;
    width: 400px;
    margin: 10px;
    background-color: white;
    text-align: center;
    align-content: center;
}

#instagram_item {
    background-image: url(./src/Instagram_img.jpg);
    background-position: center;
}

#cursos_item {
    background-image: url(./src/Cursos_img.jpg);
    background-position: center;
}

#medium_item {
    background-image: url(./src/Medium_img.jpg);
}

.politicas {
    display: block;
    text-align: center;
}
.politicas p {
    font-weight: 500;
    display: inline-block;
}