@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET CSS:

* {
    margin: 0;
    padding: 0;
}

*/

*, :root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: block;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: white;
    padding: 1px;
}

.titlepage {
    font-family: "Beau Rivage", cursive;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    margin: 0px;
}

nav {
    list-style: none;
    position: sticky;
    top: 65px;
    text-align: center;
    background-color: white;
    padding: 0px 0px 10px 0px;
}

.menu__item {
    display: inline-block;
    position: relative;
}

nav ul {
    margin: 0px;
    padding: 0%;
}

nav li a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    font-weight: 600;
    color:gray;
    text-decoration: none;
}