@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'BagindaScript';
    src: url('BagindaScript.otf');
    font-weight: bold;
    font-style: normal;
}

*, :root {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    display: block;
    position: sticky;
    top: 0px;
    text-align: center;
    background-color: white;
    padding: 1px;
}

.titlepage {
    height: 80px;
    font-family:'BagindaScript';
    font-weight: 400;
    font-size: 70px;
    font-style: normal;
    margin: 0px;
    text-decoration: none;
    color: black;
}

nav {
    list-style: none;
    position: sticky;
    top: 78px;
    text-align: center;
    background-color: white;
    padding: 0px 0px 10px 0px;
}

.menu__item {
    display: inline-block;
    position: relative;
}

nav ul {
    margin: 0px;
    padding: 0%;
}

nav li a {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

nav li a:hover {
    font-weight: 600;
    color:gray;
    text-decoration: none;
}

.section {
    width: auto;
    height: 550px;
    background-color: aquamarine;
}

.politicas {
    display: block;
    text-align: center;
}
.politicas p {
    font-weight: 500;
    display: inline-block;
}